/* Write all your CSS here */
/* Please indent properly */
/* Please use only lower-case letters */
/* Your webpage should be 100% responsive!!! */
#slack{
    background-color:purple;
    height:auto;
    width: 200px;
}
#second-sec{
    background-color: blanchedalmond;
    
}
#main{
    display: flex;
}
ul li{
    margin:0px;
    list-style-type: none;
    font-size:20px;
    display: flex;
    align-items: center;
}
.tk{

    display:flex;
    align-items: center;
    justify-content: space-around;
}
h2 {
    display:flex;
    justify-content: space-around;
}
h1{
    display: flex;
    justify-content: center;
}
/* .resource{
    display:flex;
    justify-content: center; */


    button{
        padding:10px 30px;
        background-color:green;
        border:none;
        text-align: center;
        }
p{
    display: flex;
    justify-content: center;
}
.btn>button{
    display: flex;
    margin: 0 auto;

}
